<a href="https://colab.research.google.com/github/anuzz01/Stock-Market-Visualization/blob/main/Banknifty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('your_file_name.csv')

FileNotFoundError: ignored

In [2]:
from google.colab import files

# Upload a file
uploaded = files.upload()

Saving BN.csv to BN.csv

In [3]:
import pandas as pd

# Read the uploaded CSV file
df = pd.read_csv('BN.csv')

# Check the rows and their data types
print(df.head())
print(df.dtypes)

         Date      Price       Open       High        Low     Vol. Change %
0  05/23/2023  44,054.75  43,926.35  44,081.05  43,873.85   54.47K    0.39%
1  05/22/2023  43,885.10  43,935.30  44,026.75  43,684.90  183.78M   -0.19%
2  05/19/2023  43,969.40  43,930.00  44,020.90  43,531.90  192.04M    0.50%
3  05/18/2023  43,752.30  44,006.90  44,079.20  43,673.70  226.49M    0.12%
4  05/17/2023  43,698.70  43,948.50  43,992.75  43,446.40  203.60M   -0.47%
Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

In [4]:
# Convert 'Price' column to numeric
df['Price'] = df['Price'].str.replace(',', '').astype(float)

# Rename 'Price' column to 'Close'
df = df.rename(columns={'Price': 'Close'})

# Check the updated data types
print(df.dtypes)

Date         object
Close       float64
Open         object
High         object
Low          object
Vol.         object
Change %     object
dtype: object

In [5]:
# Define a dictionary to map column names to data types
data_types = {
    'Date': 'datetime64',
    'Close': float,
    'Open': float,
    'High': float,
    'Low': float,
    'Vol.': str,
    'Change %': str
}

# Convert the data types of all columns
df = df.astype(data_types)

# Check the updated data types
print(df.dtypes)

ValueError: ignored

In [6]:
# Remove commas from numerical columns
df['Close'] = df['Close'].str.replace(',', '').astype(float)
df['Open'] = df['Open'].str.replace(',', '').astype(float)
df['High'] = df['High'].str.replace(',', '').astype(float)
df['Low'] = df['Low'].str.replace(',', '').astype(float)

# Define a dictionary to map column names to data types
data_types = {
    'Date': 'datetime64',
    'Close': float,
    'Open': float,
    'High': float,
    'Low': float,
    'Vol.': str,
    'Change %': str
}

# Convert the data types of all columns
df = df.astype(data_types)

# Check the updated data types
print(df.dtypes)

AttributeError: ignored

In [7]:
# Remove commas from numerical columns
df['Close'] = df['Close'].str.replace(',', '').astype(float)
df['Open'] = df['Open'].str.replace(',', '').astype(float)
df['High'] = df['High'].str.replace(',', '').astype(float)
df['Low'] = df['Low'].str.replace(',', '').astype(float)

# Define a dictionary to map column names to data types
data_types = {
    'Date': 'datetime64',
    'Close': float,
    'Open': float,
    'High': float,
    'Low': float,
    'Vol.': str,
    'Change %': str
}

# Convert the data types of all columns
df = df.astype(data_types)

# Check the updated data types
print(df.dtypes)

AttributeError: ignored

In [8]:
import numpy as np

# Remove commas from numerical columns and convert to float
df['Close'] = df['Close'].replace(',', '', regex=True).astype(float)
df['Open'] = df['Open'].replace(',', '', regex=True).astype(float)
df['High'] = df['High'].replace(',', '', regex=True).astype(float)
df['Low'] = df['Low'].replace(',', '', regex=True).astype(float)

# Define a dictionary to map column names to data types
data_types = {
    'Date': 'datetime64',
    'Close': float,
    'Open': float,
    'High': float,
    'Low': float,
    'Vol.': str,
    'Change %': str
}

# Convert the data types of all columns
df = df.astype(data_types)

# Check the updated data types
print(df.dtypes)

Date        datetime64[ns]
Close              float64
Open               float64
High               float64
Low                float64
Vol.                object
Change %            object
dtype: object

In [9]:
import numpy as np

# Remove percentage symbol from 'Change %' column and convert to float
df['Change %'] = df['Change %'].str.replace('%', '').astype(float)

# Define a dictionary to map column names to data types
data_types = {
    
    'Change %': float
}


# Check the updated data types
print(df.dtypes)

Date        datetime64[ns]
Close              float64
Open               float64
High               float64
Low                float64
Vol.                object
Change %           float64
dtype: object

In [13]:
# Check the number of columns
num_columns = len(df.columns)
print("Number of columns:", num_columns)
num_rows = df.shape[0]
print("Number of rows:", num_rows)

# Display the top 5 rows of data
top_5_data = df.head(10)
print("\nTop 5 rows of data:")
print(top_5_data)

Number of columns: 7
Number of rows: 3068

Top 5 rows of data:
        Date     Close      Open      High       Low     Vol.  Change %
0 2023-05-23  44054.75  43926.35  44081.05  43873.85   54.47K      0.39
1 2023-05-22  43885.10  43935.30  44026.75  43684.90  183.78M     -0.19
2 2023-05-19  43969.40  43930.00  44020.90  43531.90  192.04M      0.50
3 2023-05-18  43752.30  44006.90  44079.20  43673.70  226.49M      0.12
4 2023-05-17  43698.70  43948.50  43992.75  43446.40  203.60M     -0.47
5 2023-05-16  43903.70  44144.15  44144.15  43815.70  222.54M     -0.38
6 2023-05-15  44072.10  43821.05  44151.70  43666.60  161.26M      0.64
7 2023-05-12  43793.55  43447.15  43905.95  43347.75  144.94M      0.73
8 2023-05-11  43475.30  43535.10  43774.25  43367.25  190.69M      0.33
9 2023-05-10  43331.05  43275.25  43383.65  42822.15  249.13M      0.31

In [16]:



# Display the updated DataFrame with the 'Day' column moved to the right
print(df)

           Date     Close      Open      High       Low     Vol.  Change %  \
0    2023-05-23  44054.75  43926.35  44081.05  43873.85   54.47K      0.39
1    2023-05-22  43885.10  43935.30  44026.75  43684.90  183.78M     -0.19
2    2023-05-19  43969.40  43930.00  44020.90  43531.90  192.04M      0.50
3    2023-05-18  43752.30  44006.90  44079.20  43673.70  226.49M      0.12
4    2023-05-17  43698.70  43948.50  43992.75  43446.40  203.60M     -0.47
...         ...       ...       ...       ...       ...      ...       ...
3063 2011-01-07  11053.35  11146.45  11258.50  11007.90   25.19M     -1.19
3064 2011-01-06  11186.80  11350.70  11377.10  11164.75   19.56M     -1.05
3065 2011-01-05  11305.45  11545.75  11545.75  11265.55   19.69M     -2.24
3066 2011-01-04  11564.05  11868.40  11872.80  11545.55   16.04M     -2.46
3067 2011-01-03  11855.75  11882.10  11912.15  11826.95    8.90M      0.55

            Day
0       Tuesday
1        Monday
2        Friday
3      Thursday
4     Wednesday
...         ...
3063     Friday
3064   Thursday
3065  Wednesday
3066    Tuesday
3067     Monday

[3068 rows x 8 columns]

In [17]:
# Get the 'Day' column
day_column = df['Day']

# Remove the 'Day' column from the DataFrame
df = df.drop(columns=['Day'])

# Insert the 'Day' column at the second position (right after the 'Date' column)
df.insert(1, 'Day', day_column)

# Display the updated DataFrame with the 'Day' column shifted to the right
print(df)

           Date        Day     Close      Open      High       Low     Vol.  \
0    2023-05-23    Tuesday  44054.75  43926.35  44081.05  43873.85   54.47K
1    2023-05-22     Monday  43885.10  43935.30  44026.75  43684.90  183.78M
2    2023-05-19     Friday  43969.40  43930.00  44020.90  43531.90  192.04M
3    2023-05-18   Thursday  43752.30  44006.90  44079.20  43673.70  226.49M
4    2023-05-17  Wednesday  43698.70  43948.50  43992.75  43446.40  203.60M
...         ...        ...       ...       ...       ...       ...      ...
3063 2011-01-07     Friday  11053.35  11146.45  11258.50  11007.90   25.19M
3064 2011-01-06   Thursday  11186.80  11350.70  11377.10  11164.75   19.56M
3065 2011-01-05  Wednesday  11305.45  11545.75  11545.75  11265.55   19.69M
3066 2011-01-04    Tuesday  11564.05  11868.40  11872.80  11545.55   16.04M
3067 2011-01-03     Monday  11855.75  11882.10  11912.15  11826.95    8.90M

      Change %
0         0.39
1        -0.19
2         0.50
3         0.12
4        -0.47
...        ...
3063     -1.19
3064     -1.05
3065     -2.24
3066     -2.46
3067      0.55

[3068 rows x 8 columns]

In [27]:
print(df)

                  Day     Close      Open      High       Low  Change %
Date
2023-05-23    Tuesday  44054.75  43926.35  44081.05  43873.85      0.39
2023-05-22     Monday  43885.10  43935.30  44026.75  43684.90     -0.19
2023-05-19     Friday  43969.40  43930.00  44020.90  43531.90      0.50
2023-05-18   Thursday  43752.30  44006.90  44079.20  43673.70      0.12
2023-05-17  Wednesday  43698.70  43948.50  43992.75  43446.40     -0.47
...               ...       ...       ...       ...       ...       ...
2011-01-07     Friday  11053.35  11146.45  11258.50  11007.90     -1.19
2011-01-06   Thursday  11186.80  11350.70  11377.10  11164.75     -1.05
2011-01-05  Wednesday  11305.45  11545.75  11545.75  11265.55     -2.24
2011-01-04    Tuesday  11564.05  11868.40  11872.80  11545.55     -2.46
2011-01-03     Monday  11855.75  11882.10  11912.15  11826.95      0.55

[3068 rows x 6 columns]

In [28]:
# Add the 'Date' column back to the DataFrame
df['Date'] = df.index

# Set 'Date' column as the index
df.set_index('Date', inplace=True)

# Sort the DataFrame by date in ascending order
df.sort_index(inplace=True)

# Reset the index
df.reset_index(inplace=True)

# Create a new column 'Week' to indicate the week number
df['Week'] = ((df.index - df.index[0]) // 5) + 1

# Display the updated DataFrame
print(df)

           Date        Day     Close      Open      High       Low  Change %  \
0    2011-01-03     Monday  11855.75  11882.10  11912.15  11826.95      0.55
1    2011-01-04    Tuesday  11564.05  11868.40  11872.80  11545.55     -2.46
2    2011-01-05  Wednesday  11305.45  11545.75  11545.75  11265.55     -2.24
3    2011-01-06   Thursday  11186.80  11350.70  11377.10  11164.75     -1.05
4    2011-01-07     Friday  11053.35  11146.45  11258.50  11007.90     -1.19
...         ...        ...       ...       ...       ...       ...       ...
3063 2023-05-17  Wednesday  43698.70  43948.50  43992.75  43446.40     -0.47
3064 2023-05-18   Thursday  43752.30  44006.90  44079.20  43673.70      0.12
3065 2023-05-19     Friday  43969.40  43930.00  44020.90  43531.90      0.50
3066 2023-05-22     Monday  43885.10  43935.30  44026.75  43684.90     -0.19
3067 2023-05-23    Tuesday  44054.75  43926.35  44081.05  43873.85      0.39

      Week
0        1
1        1
2        1
3        1
4        1
...    ...
3063   613
3064   613
3065   614
3066   614
3067   614

[3068 rows x 8 columns]

In [29]:
df.set_index('Week', inplace=True)
df.reset_index(inplace=True)

In [30]:
print(df)

      Week       Date        Day     Close      Open      High       Low  \
0        1 2011-01-03     Monday  11855.75  11882.10  11912.15  11826.95
1        1 2011-01-04    Tuesday  11564.05  11868.40  11872.80  11545.55
2        1 2011-01-05  Wednesday  11305.45  11545.75  11545.75  11265.55
3        1 2011-01-06   Thursday  11186.80  11350.70  11377.10  11164.75
4        1 2011-01-07     Friday  11053.35  11146.45  11258.50  11007.90
...    ...        ...        ...       ...       ...       ...       ...
3063   613 2023-05-17  Wednesday  43698.70  43948.50  43992.75  43446.40
3064   613 2023-05-18   Thursday  43752.30  44006.90  44079.20  43673.70
3065   614 2023-05-19     Friday  43969.40  43930.00  44020.90  43531.90
3066   614 2023-05-22     Monday  43885.10  43935.30  44026.75  43684.90
3067   614 2023-05-23    Tuesday  44054.75  43926.35  44081.05  43873.85

      Change %
0         0.55
1        -2.46
2        -2.24
3        -1.05
4        -1.19
...        ...
3063     -0.47
3064      0.12
3065      0.50
3066     -0.19
3067      0.39

[3068 rows x 8 columns]

In [32]:
print(df.head(17))

    Week       Date        Day     Close      Open      High       Low  \
0      1 2011-01-03     Monday  11855.75  11882.10  11912.15  11826.95
1      1 2011-01-04    Tuesday  11564.05  11868.40  11872.80  11545.55
2      1 2011-01-05  Wednesday  11305.45  11545.75  11545.75  11265.55
3      1 2011-01-06   Thursday  11186.80  11350.70  11377.10  11164.75
4      1 2011-01-07     Friday  11053.35  11146.45  11258.50  11007.90
5      2 2011-01-10     Monday  10700.65  11024.50  11072.70  10671.60
6      2 2011-01-11    Tuesday  10833.55  10734.20  10951.20  10620.80
7      2 2011-01-12  Wednesday  11128.15  10906.40  11161.15  10728.45
8      2 2011-01-13   Thursday  10716.65  11125.95  11127.95  10676.50
9      2 2011-01-14     Friday  10432.90  10746.80  10907.30  10387.90
10     3 2011-01-17     Monday  10471.10  10459.60  10571.80  10373.80
11     3 2011-01-18    Tuesday  10618.50  10534.30  10677.95  10520.30
12     3 2011-01-19  Wednesday  10615.15  10646.00  10715.05  10562.25
13     3 2011-01-20   Thursday  10798.35  10579.25  10878.80  10493.25
14     3 2011-01-21     Friday  10889.40  10750.40  10923.70  10740.00
15     4 2011-01-24     Monday  11151.15  10923.75  11177.85  10913.45
16     4 2011-01-25    Tuesday  10872.95  11183.55  11256.95  10849.40

    Change %
0       0.55
1      -2.46
2      -2.24
3      -1.05
4      -1.19
5      -3.19
6       1.24
7       2.72
8      -3.70
9      -2.65
10      0.37
11      1.41
12     -0.03
13      1.73
14      0.84
15      2.40
16     -2.49

In [33]:
# Add a new column 'Week' based on the adjusted week numbering
df['Week'] = df['Date'].diff().dt.days.gt(1).cumsum().add(1)

# Print the first 10 rows of the DataFrame
print(df.head(50))

    Week       Date        Day     Close      Open      High       Low  \
0      1 2011-01-03     Monday  11855.75  11882.10  11912.15  11826.95
1      1 2011-01-04    Tuesday  11564.05  11868.40  11872.80  11545.55
2      1 2011-01-05  Wednesday  11305.45  11545.75  11545.75  11265.55
3      1 2011-01-06   Thursday  11186.80  11350.70  11377.10  11164.75
4      1 2011-01-07     Friday  11053.35  11146.45  11258.50  11007.90
5      2 2011-01-10     Monday  10700.65  11024.50  11072.70  10671.60
6      2 2011-01-11    Tuesday  10833.55  10734.20  10951.20  10620.80
7      2 2011-01-12  Wednesday  11128.15  10906.40  11161.15  10728.45
8      2 2011-01-13   Thursday  10716.65  11125.95  11127.95  10676.50
9      2 2011-01-14     Friday  10432.90  10746.80  10907.30  10387.90
10     3 2011-01-17     Monday  10471.10  10459.60  10571.80  10373.80
11     3 2011-01-18    Tuesday  10618.50  10534.30  10677.95  10520.30
12     3 2011-01-19  Wednesday  10615.15  10646.00  10715.05  10562.25
13     3 2011-01-20   Thursday  10798.35  10579.25  10878.80  10493.25
14     3 2011-01-21     Friday  10889.40  10750.40  10923.70  10740.00
15     4 2011-01-24     Monday  11151.15  10923.75  11177.85  10913.45
16     4 2011-01-25    Tuesday  10872.95  11183.55  11256.95  10849.40
17     5 2011-01-27   Thursday  10676.15  10946.40  10970.85  10639.85
18     5 2011-01-28     Friday  10578.25  10690.05  10736.40  10481.10
19     6 2011-01-31     Monday  10641.85  10444.35  10696.30  10400.25
20     6 2011-02-01    Tuesday  10481.20  10683.45  10683.45  10457.80
21     6 2011-02-02  Wednesday  10470.15  10599.00  10614.95  10418.20
22     6 2011-02-03   Thursday  10670.60  10460.95  10704.30  10429.50
23     6 2011-02-04     Friday  10433.85  10632.90  10772.45  10385.90
24     7 2011-02-07     Monday  10384.05  10457.80  10509.80  10354.60
25     7 2011-02-08    Tuesday  10147.75  10431.05  10431.05  10119.45
26     7 2011-02-09  Wednesday  10116.65  10131.35  10294.80  10038.15
27     7 2011-02-10   Thursday  10074.10  10106.25  10227.75  10017.85
28     7 2011-02-11     Friday  10447.75  10061.40  10473.45  10061.40
29     8 2011-02-14     Monday  10802.55  10477.85  10815.70  10477.85
30     8 2011-02-15    Tuesday  10959.70  10821.50  11035.15  10722.70
31     8 2011-02-16  Wednesday  10960.70  10929.25  11024.25  10908.65
32     8 2011-02-17   Thursday  11134.70  10996.25  11190.20  10918.10
33     8 2011-02-18     Friday  10949.70  11153.80  11300.45  10915.35
34     9 2011-02-21     Monday  11050.10  10935.30  11070.35  10806.30
35     9 2011-02-22    Tuesday  10836.80  10957.50  10957.50  10777.65
36     9 2011-02-23  Wednesday  10646.45  10776.80  10857.85  10628.65
37     9 2011-02-24   Thursday  10210.75  10603.25  10643.25  10169.00
38     9 2011-02-25     Friday  10435.85  10329.65  10510.50  10263.15
39    10 2011-02-28     Monday  10435.35  10512.20  10744.85  10364.35
40    10 2011-03-01    Tuesday  10885.40  10541.95  10906.15  10528.35
41    11 2011-03-03   Thursday  10914.50  10805.00  11066.40  10759.70
42    11 2011-03-04     Friday  10963.40  11008.90  11134.10  10924.10
43    12 2011-03-07     Monday  10782.25  10886.10  10886.10  10658.30
44    12 2011-03-08    Tuesday  10931.55  10782.60  10962.70  10779.15
45    12 2011-03-09  Wednesday  10974.80  10987.40  11054.00  10904.60
46    12 2011-03-10   Thursday  10850.25  10920.65  10920.65  10783.30
47    12 2011-03-11     Friday  10740.95  10772.90  10904.20  10697.10
48    13 2011-03-14     Monday  10893.25  10730.40  10916.65  10730.40
49    13 2011-03-15    Tuesday  10725.80  10673.90  10784.20  10591.30

    Change %
0       0.55
1      -2.46
2      -2.24
3      -1.05
4      -1.19
5      -3.19
6       1.24
7       2.72
8      -3.70
9      -2.65
10      0.37
11      1.41
12     -0.03
13      1.73
14      0.84
15      2.40
16     -2.49
17     -1.81
18     -0.92
19      0.60
20     -1.51
21     -0.11
22      1.91
23     -2.22
24     -0.48
25     -2.28
26     -0.31
27     -0.42
28      3.71
29      3.40
30      1.45
31      0.01
32      1.59
33     -1.66
34      0.92
35     -1.93
36     -1.76
37     -4.09
38      2.20
39      0.00
40      4.31
41      0.27
42      0.45
43     -1.65
44      1.38
45      0.40
46     -1.13
47     -1.01
48      1.42
49     -1.54

In [34]:
# Add a new column 'Week' based on the adjusted week numbering
df['Week'] = (df['Date'].diff().dt.days >= 3).cumsum() + 1

# Print the first 10 rows of the DataFrame
print(df.head(10))

   Week       Date        Day     Close      Open      High       Low  \
0     1 2011-01-03     Monday  11855.75  11882.10  11912.15  11826.95
1     1 2011-01-04    Tuesday  11564.05  11868.40  11872.80  11545.55
2     1 2011-01-05  Wednesday  11305.45  11545.75  11545.75  11265.55
3     1 2011-01-06   Thursday  11186.80  11350.70  11377.10  11164.75
4     1 2011-01-07     Friday  11053.35  11146.45  11258.50  11007.90
5     2 2011-01-10     Monday  10700.65  11024.50  11072.70  10671.60
6     2 2011-01-11    Tuesday  10833.55  10734.20  10951.20  10620.80
7     2 2011-01-12  Wednesday  11128.15  10906.40  11161.15  10728.45
8     2 2011-01-13   Thursday  10716.65  11125.95  11127.95  10676.50
9     2 2011-01-14     Friday  10432.90  10746.80  10907.30  10387.90

   Change %
0      0.55
1     -2.46
2     -2.24
3     -1.05
4     -1.19
5     -3.19
6      1.24
7      2.72
8     -3.70
9     -2.65

In [35]:
import pandas as pd

# Set 'Date' column as the index
df.set_index('Date', inplace=True)

# Resample the data on a weekly basis starting from Friday
weekly_df = df.resample('W-FRI').last()

# Add a new column 'Week' with the adjusted week numbering
weekly_df['Week'] = pd.Series(range(1, len(weekly_df) + 1))

# Reset the index and print the first 10 rows of the DataFrame
print(weekly_df.reset_index().head(10))

        Date  Week     Day     Close      Open      High       Low  Change %
0 2011-01-07   NaN  Friday  11053.35  11146.45  11258.50  11007.90     -1.19
1 2011-01-14   NaN  Friday  10432.90  10746.80  10907.30  10387.90     -2.65
2 2011-01-21   NaN  Friday  10889.40  10750.40  10923.70  10740.00      0.84
3 2011-01-28   NaN  Friday  10578.25  10690.05  10736.40  10481.10     -0.92
4 2011-02-04   NaN  Friday  10433.85  10632.90  10772.45  10385.90     -2.22
5 2011-02-11   NaN  Friday  10447.75  10061.40  10473.45  10061.40      3.71
6 2011-02-18   NaN  Friday  10949.70  11153.80  11300.45  10915.35     -1.66
7 2011-02-25   NaN  Friday  10435.85  10329.65  10510.50  10263.15      2.20
8 2011-03-04   NaN  Friday  10963.40  11008.90  11134.10  10924.10      0.45
9 2011-03-11   NaN  Friday  10740.95  10772.90  10904.20  10697.10     -1.01

In [37]:
import pandas as pd

# Set 'Date' column as the index
df.set_index('Date', inplace=True)

# Get the unique years in the DataFrame
years = df.index.year.unique()

# Initialize an empty list to store the weekly DataFrames
weekly_dfs = []

# Iterate over the years
for year in years:
    # Filter the DataFrame for the current year
    year_df = df[df.index.year == year]
    
    # Resample the data on a weekly basis starting from Friday
    weekly_df = year_df.resample('W-FRI').last()
    
    # Add a new column 'Week' with the adjusted week numbering
    weekly_df['Week'] = pd.Series(range(1, len(weekly_df) + 1))
    
    # Append the weekly DataFrame to the list
    weekly_dfs.append(weekly_df)

# Concatenate all the weekly DataFrames into a single DataFrame
weekly_df = pd.concat(weekly_dfs)

# Reset the index and print the first 10 rows of the DataFrame
print(weekly_df.reset_index().head(10))

KeyError: ignored

In [41]:
import pandas as pd
# Add the 'Date' column back to the DataFrame
df['Date'] = df.index
# Rename the column to 'Date' if necessary
df.rename(columns={'Your_Current_Date_Column_Name': 'Date'}, inplace=True)

# Set 'Date' column as the index
df.set_index('Date', inplace=True)

# Get the unique years in the DataFrame
years = df.index.year.unique()

# Initialize an empty list to store the weekly DataFrames
weekly_dfs = []

# Iterate over the years
for year in years:
    # Filter the DataFrame for the current year
    year_df = df[df.index.year == year]
    
    # Resample the data on a weekly basis starting from Friday
    weekly_df = year_df.resample('W-FRI').last()
    
    # Add a new column 'Week' with the adjusted week numbering
    weekly_df['Week'] = pd.Series(range(1, len(weekly_df) + 1))
    
    # Append the weekly DataFrame to the list
    weekly_dfs.append(weekly_df)

# Concatenate all the weekly DataFrames into a single DataFrame
weekly_df = pd.concat(weekly_dfs)

# Reset the index and print the first 10 rows of the DataFrame
print(weekly_df.reset_index().head(10))

        Date  Week     Day     Close      Open      High       Low  Change %
0 2011-01-07   NaN  Friday  11053.35  11146.45  11258.50  11007.90     -1.19
1 2011-01-14   NaN  Friday  10432.90  10746.80  10907.30  10387.90     -2.65
2 2011-01-21   NaN  Friday  10889.40  10750.40  10923.70  10740.00      0.84
3 2011-01-28   NaN  Friday  10578.25  10690.05  10736.40  10481.10     -0.92
4 2011-02-04   NaN  Friday  10433.85  10632.90  10772.45  10385.90     -2.22
5 2011-02-11   NaN  Friday  10447.75  10061.40  10473.45  10061.40      3.71
6 2011-02-18   NaN  Friday  10949.70  11153.80  11300.45  10915.35     -1.66
7 2011-02-25   NaN  Friday  10435.85  10329.65  10510.50  10263.15      2.20
8 2011-03-04   NaN  Friday  10963.40  11008.90  11134.10  10924.10      0.45
9 2011-03-11   NaN  Friday  10740.95  10772.90  10904.20  10697.10     -1.01

In [46]:
print(df.head(15))

            Week        Day     Close      Open      High       Low  Change %
Date
2011-01-03     1     Monday  11855.75  11882.10  11912.15  11826.95      0.55
2011-01-04     1    Tuesday  11564.05  11868.40  11872.80  11545.55     -2.46
2011-01-05     1  Wednesday  11305.45  11545.75  11545.75  11265.55     -2.24
2011-01-06     1   Thursday  11186.80  11350.70  11377.10  11164.75     -1.05
2011-01-07     1     Friday  11053.35  11146.45  11258.50  11007.90     -1.19
2011-01-10     2     Monday  10700.65  11024.50  11072.70  10671.60     -3.19
2011-01-11     2    Tuesday  10833.55  10734.20  10951.20  10620.80      1.24
2011-01-12     2  Wednesday  11128.15  10906.40  11161.15  10728.45      2.72
2011-01-13     2   Thursday  10716.65  11125.95  11127.95  10676.50     -3.70
2011-01-14     2     Friday  10432.90  10746.80  10907.30  10387.90     -2.65
2011-01-17     3     Monday  10471.10  10459.60  10571.80  10373.80      0.37
2011-01-18     3    Tuesday  10618.50  10534.30  10677.95  10520.30      1.41
2011-01-19     3  Wednesday  10615.15  10646.00  10715.05  10562.25     -0.03
2011-01-20     3   Thursday  10798.35  10579.25  10878.80  10493.25      1.73
2011-01-21     3     Friday  10889.40  10750.40  10923.70  10740.00      0.84

In [52]:
df['Date'] = df.index

# Set 'Date' column as the index
df.set_index('Date', inplace=True)

# Resample the data into weekly periods starting from Friday
weekly_df = df.resample('W-FRI').agg({
    'Open': 'first',
    'Close': 'last',
    'High': 'max',
    'Low': 'min'
})

# Add the 'Week' column based on the index
weekly_df['Week'] = weekly_df.index.week

# Reset the index to include the 'Date' column
weekly_df.reset_index(inplace=True)

# Rearrange the columns
weekly_df = weekly_df[['Week', 'Date', 'Open', 'Close', 'High', 'Low']]

# Display the first 10 weeks of data
print(weekly_df.head(10)) 
print(df.head(10))

   Week       Date      Open     Close      High       Low
0     1 2011-01-07  11882.10  11053.35  11912.15  11007.90
1     2 2011-01-14  11024.50  10432.90  11161.15  10387.90
2     3 2011-01-21  10459.60  10889.40  10923.70  10373.80
3     4 2011-01-28  10923.75  10578.25  11256.95  10481.10
4     5 2011-02-04  10444.35  10433.85  10772.45  10385.90
5     6 2011-02-11  10457.80  10447.75  10509.80  10017.85
6     7 2011-02-18  10477.85  10949.70  11300.45  10477.85
7     8 2011-02-25  10935.30  10435.85  11070.35  10169.00
8     9 2011-03-04  10512.20  10963.40  11134.10  10364.35
9    10 2011-03-11  10886.10  10740.95  11054.00  10658.30
            Week        Day     Close      Open      High       Low  Change %
Date
2011-01-03     1     Monday  11855.75  11882.10  11912.15  11826.95      0.55
2011-01-04     1    Tuesday  11564.05  11868.40  11872.80  11545.55     -2.46
2011-01-05     1  Wednesday  11305.45  11545.75  11545.75  11265.55     -2.24
2011-01-06     1   Thursday  11186.80  11350.70  11377.10  11164.75     -1.05
2011-01-07     1     Friday  11053.35  11146.45  11258.50  11007.90     -1.19
2011-01-10     2     Monday  10700.65  11024.50  11072.70  10671.60     -3.19
2011-01-11     2    Tuesday  10833.55  10734.20  10951.20  10620.80      1.24
2011-01-12     2  Wednesday  11128.15  10906.40  11161.15  10728.45      2.72
2011-01-13     2   Thursday  10716.65  11125.95  11127.95  10676.50     -3.70
2011-01-14     2     Friday  10432.90  10746.80  10907.30  10387.90     -2.65

<ipython-input-52-5bcd7451e862>:15: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  weekly_df['Week'] = weekly_df.index.week

In [58]:
df['Date'] = df.index

# Set 'Date' column as the index
df.set_index('Date', inplace=True)

# Resample the data into weekly periods starting from Thursday
weekly_df = df.resample('W-THU').agg({
    'Open': 'first',
    'Close': 'last',
    'High': 'max',
    'Low': 'min'
})

# Shift the index by -1 to align with the desired week start on Friday
weekly_df.index = weekly_df.index + pd.DateOffset(days=1)

# Add the 'Week' column based on the shifted index
weekly_df['Week'] = weekly_df.index.week

# Reset the index to include the 'Date' column
weekly_df.reset_index(inplace=True)

# Rearrange the columns
weekly_df = weekly_df[['Week', 'Date', 'Open', 'Close', 'High', 'Low']]

# Display the first 10 weeks of data
print(weekly_df.head(19))

print(df.head(19))

    Week       Date      Open     Close      High       Low
0      1 2011-01-07  11882.10  11186.80  11912.15  11164.75
1      2 2011-01-14  11146.45  10716.65  11258.50  10620.80
2      3 2011-01-21  10746.80  10798.35  10907.30  10373.80
3      4 2011-01-28  10750.40  10676.15  11256.95  10639.85
4      5 2011-02-04  10690.05  10670.60  10736.40  10400.25
5      6 2011-02-11  10632.90  10074.10  10772.45  10017.85
6      7 2011-02-18  10061.40  11134.70  11190.20  10061.40
7      8 2011-02-25  11153.80  10210.75  11300.45  10169.00
8      9 2011-03-04  10329.65  10914.50  11066.40  10263.15
9     10 2011-03-11  11008.90  10850.25  11134.10  10658.30
10    11 2011-03-18  10772.90  10851.95  11018.30  10591.30
11    12 2011-03-25  10882.00  11070.35  11112.60  10661.15
12    13 2011-04-01  11179.20  11705.45  11898.40  11136.45
13    14 2011-04-08  11713.05  11754.40  11861.15  11540.85
14    15 2011-04-15  11751.80  11839.50  11856.35  11490.55
15    16 2011-04-22  11810.10  11894.75  11950.70  11482.15
16    17 2011-04-29  11860.35  11684.80  11978.05  11659.50
17    18 2011-05-06  11671.05  10730.10  11723.25  10677.30
18    19 2011-05-13  10751.30  10887.45  11213.50  10751.30
            Week        Day     Close      Open      High       Low  Change %
Date
2011-01-03     1     Monday  11855.75  11882.10  11912.15  11826.95      0.55
2011-01-04     1    Tuesday  11564.05  11868.40  11872.80  11545.55     -2.46
2011-01-05     1  Wednesday  11305.45  11545.75  11545.75  11265.55     -2.24
2011-01-06     1   Thursday  11186.80  11350.70  11377.10  11164.75     -1.05
2011-01-07     1     Friday  11053.35  11146.45  11258.50  11007.90     -1.19
2011-01-10     2     Monday  10700.65  11024.50  11072.70  10671.60     -3.19
2011-01-11     2    Tuesday  10833.55  10734.20  10951.20  10620.80      1.24
2011-01-12     2  Wednesday  11128.15  10906.40  11161.15  10728.45      2.72
2011-01-13     2   Thursday  10716.65  11125.95  11127.95  10676.50     -3.70
2011-01-14     2     Friday  10432.90  10746.80  10907.30  10387.90     -2.65
2011-01-17     3     Monday  10471.10  10459.60  10571.80  10373.80      0.37
2011-01-18     3    Tuesday  10618.50  10534.30  10677.95  10520.30      1.41
2011-01-19     3  Wednesday  10615.15  10646.00  10715.05  10562.25     -0.03
2011-01-20     3   Thursday  10798.35  10579.25  10878.80  10493.25      1.73
2011-01-21     3     Friday  10889.40  10750.40  10923.70  10740.00      0.84
2011-01-24     4     Monday  11151.15  10923.75  11177.85  10913.45      2.40
2011-01-25     4    Tuesday  10872.95  11183.55  11256.95  10849.40     -2.49
2011-01-27     4   Thursday  10676.15  10946.40  10970.85  10639.85     -1.81
2011-01-28     4     Friday  10578.25  10690.05  10736.40  10481.10     -0.92

<ipython-input-58-6b42ee4a3d9a>:18: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  weekly_df['Week'] = weekly_df.index.week

In [64]:
# Calculate the weekly change percentage
weekly_df['Change %'] = weekly_df['Close'].pct_change() * 100

# Set the change percentage of the first week to 0
weekly_df.at[0, 'Change %'] = 0

weekly_df['Change %'] = weekly_df['Change %'].round(2)

# Display the updated DataFrame
print(weekly_df.head(20))

    Week       Date      Open     Close      High       Low  Change %   Nature
0      1 2011-01-07  11882.10  11186.80  11912.15  11164.75      0.00  Neutral
1      2 2011-01-14  11146.45  10716.65  11258.50  10620.80     -4.20  Bearish
2      3 2011-01-21  10746.80  10798.35  10907.30  10373.80      0.76  Neutral
3      4 2011-01-28  10750.40  10676.15  11256.95  10639.85     -1.13  Bearish
4      5 2011-02-04  10690.05  10670.60  10736.40  10400.25     -0.05  Neutral
5      6 2011-02-11  10632.90  10074.10  10772.45  10017.85     -5.59  Bearish
6      7 2011-02-18  10061.40  11134.70  11190.20  10061.40     10.53  Bullish
7      8 2011-02-25  11153.80  10210.75  11300.45  10169.00     -8.30  Bearish
8      9 2011-03-04  10329.65  10914.50  11066.40  10263.15      6.89  Bullish
9     10 2011-03-11  11008.90  10850.25  11134.10  10658.30     -0.59  Neutral
10    11 2011-03-18  10772.90  10851.95  11018.30  10591.30      0.02  Neutral
11    12 2011-03-25  10882.00  11070.35  11112.60  10661.15      2.01  Bullish
12    13 2011-04-01  11179.20  11705.45  11898.40  11136.45      5.74  Bullish
13    14 2011-04-08  11713.05  11754.40  11861.15  11540.85      0.42  Neutral
14    15 2011-04-15  11751.80  11839.50  11856.35  11490.55      0.72  Neutral
15    16 2011-04-22  11810.10  11894.75  11950.70  11482.15      0.47  Neutral
16    17 2011-04-29  11860.35  11684.80  11978.05  11659.50     -1.77  Bearish
17    18 2011-05-06  11671.05  10730.10  11723.25  10677.30     -8.17  Bearish
18    19 2011-05-13  10751.30  10887.45  11213.50  10751.30      1.47  Bullish
19    20 2011-05-20  10896.55  10558.35  11180.40  10524.35     -3.02  Bearish

In [65]:
# Count the number of bullish, bearish, and neutral weeks
nature_counts = weekly_df['Nature'].value_counts()

# Display the counts
print(nature_counts)

Bullish    255
Bearish    207
Neutral    185
Name: Nature, dtype: int64

In [66]:
print(weekly_df)

     Week       Date      Open     Close      High       Low  Change %  \
0       1 2011-01-07  11882.10  11186.80  11912.15  11164.75      0.00
1       2 2011-01-14  11146.45  10716.65  11258.50  10620.80     -4.20
2       3 2011-01-21  10746.80  10798.35  10907.30  10373.80      0.76
3       4 2011-01-28  10750.40  10676.15  11256.95  10639.85     -1.13
4       5 2011-02-04  10690.05  10670.60  10736.40  10400.25     -0.05
..    ...        ...       ...       ...       ...       ...       ...
642    17 2023-04-28  42252.55  43000.85  43043.40  41962.35      1.73
643    18 2023-05-05  43045.50  43685.45  43739.80  42810.35      1.59
644    19 2023-05-12  43110.65  43475.30  43774.25  42582.20     -0.48
645    20 2023-05-19  43447.15  43752.30  44151.70  43347.75      0.64
646    21 2023-05-26  43930.00  44054.75  44081.05  43531.90      0.69

      Nature
0    Neutral
1    Bearish
2    Neutral
3    Bearish
4    Neutral
..       ...
642  Bullish
643  Bullish
644  Neutral
645  Neutral
646  Neutral

[647 rows x 8 columns]

In [67]:
# Calculate the average bullish, bearish, and neutral change %
avg_change = weekly_df.groupby('Nature')['Change %'].mean()

# Display the averages
print(avg_change)

Nature
Bearish   -3.307536
Bullish    3.365961
Neutral    0.009189
Name: Change %, dtype: float64